<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Minor_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DB_Queries</display-name>
    <servlet-name>DB_Queries</servlet-name>
    <servlet-class>servletPckg.DB_Queries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DB_Queries</servlet-name>
    <url-pattern>/DB_Queries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hacker_2</display-name>
    <servlet-name>hacker_2</servlet-name>
    <servlet-class>servletPckg.hacker_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hacker_2</servlet-name>
    <url-pattern>/hacker_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>servletPckg.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>servletPckg.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalTest</display-name>
    <servlet-name>FinalTest</servlet-name>
    <servlet-class>servletPckg.FinalTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalTest</servlet-name>
    <url-pattern>/FinalTest</url-pattern>
  </servlet-mapping>
</web-app>